html, body, #map-container {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.App {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
